__pycache__
.ipynb_checkpoints
.vscode
airdrop
bin/
data/
data/*.gz
data/*.parquet
figures/*.pdf
labeling
lib/*.jar
results/*.tsv
results/connectivity/
results/contracts/
results/degree/
results/graphs/
results/webgraphs/
supply/
unused/